<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016. Vv <envyfan@qq.com><http://www.v-sounds.com/>
  ~
  ~ This file is part of AndroidReview (Android面试复习)
  ~
  ~ AndroidReview is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~  AndroidReview is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~ along with AndroidReview.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vv.androidreview">

    <!-- Bmob权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".base.system.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.main.AppStartActivity"
            android:theme="@style/Theme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.main.MainActivity" />
        <activity android:name=".ui.activites.ListActivity" />
        <activity android:name=".ui.activites.DetailActivity" />
        <activity android:name=".ui.activites.FavActivity" />
        <activity android:name=".ui.activites.SuggestActivity" />
        <activity android:name=".ui.activites.AboutActivity" />
        <activity android:name=".ui.activites.AuthorActivity" />
        <activity android:name=".ui.activites.PermissionsActivity" />
        <activity android:name=".ui.activites.SettingCacheActivity" />
        <activity android:name=".ui.activites.CreateTableActivity" />
        <activity android:name=".ui.activites.VersionNoteActivity"></activity>
    </application>

</manifest>
